body {
    margin: 0;
    bottom: 0;
}
@font-face {
    font-family: SpaceExplorer;
    src: url(../public/fonts/space_explorer.ttf);
}
@font-face {
    font-family: VoyagerLight;
    src: url(../public/fonts/voyager_light.woff);
}
@font-face {
    font-family: Monaco;
    src: url(../public/fonts/monaco.woff);
}
@font-face {
    font-family: LatoThin;
    src: url(../public/fonts/lato-thin.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(../public/fonts/lato-light.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(../public/fonts/lato-bold.ttf);
}
