body {
    margin: 0;
    bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
@font-face {
    font-family: SpaceExplorer;
    src: url(../public/fonts/space_explorer.ttf);
}
@font-face {
    font-family: VoyagerLight;
    src: url(../public/fonts/voyager_light.woff);
}
